:root {
	--color-tailwind-white: hsl(0, 0%, 100%);
	--color-tailwind-black: hsl(0, 0%, 0%);
	--color-tailwind-slate-50: hsl(210, 40%, 98%);
	--color-tailwind-slate-100: hsl(210, 40%, 96.1%);
	--color-tailwind-slate-200: hsl(214, 31.8%, 91.4%);
	--color-tailwind-slate-300: hsl(213, 26.8%, 83.9%);
	--color-tailwind-slate-400: hsl(215, 20.2%, 65.1%);
	--color-tailwind-slate-500: hsl(215, 16.3%, 46.9%);
	--color-tailwind-slate-600: hsl(215, 19.3%, 34.5%);
	--color-tailwind-slate-700: hsl(215, 25%, 26.7%);
	--color-tailwind-slate-800: hsl(217, 32.6%, 17.5%);
	--color-tailwind-slate-900: hsl(222, 47.4%, 11.2%);
	--color-tailwind-gray-50: hsl(210, 20%, 98%);
	--color-tailwind-gray-100: hsl(220, 14.3%, 95.9%);
	--color-tailwind-gray-200: hsl(220, 13%, 91%);
	--color-tailwind-gray-300: hsl(216, 12.2%, 83.9%);
	--color-tailwind-gray-400: hsl(218, 10.6%, 64.9%);
	--color-tailwind-gray-500: hsl(220, 8.9%, 46.1%);
	--color-tailwind-gray-600: hsl(215, 13.8%, 34.1%);
	--color-tailwind-gray-700: hsl(217, 19.1%, 26.7%);
	--color-tailwind-gray-800: hsl(215, 27.9%, 16.9%);
	--color-tailwind-gray-900: hsl(221, 39.3%, 11%);
	--color-tailwind-zinc-50: hsl(0, 0%, 98%);
	--color-tailwind-zinc-100: hsl(240, 4.8%, 95.9%);
	--color-tailwind-zinc-200: hsl(240, 5.9%, 90%);
	--color-tailwind-zinc-300: hsl(240, 4.9%, 83.9%);
	--color-tailwind-zinc-400: hsl(240, 5%, 64.9%);
	--color-tailwind-zinc-500: hsl(240, 3.8%, 46.1%);
	--color-tailwind-zinc-600: hsl(240, 5.2%, 33.9%);
	--color-tailwind-zinc-700: hsl(240, 5.3%, 26.1%);
	--color-tailwind-zinc-800: hsl(240, 3.7%, 15.9%);
	--color-tailwind-zinc-900: hsl(240, 5.9%, 10%);
	--color-tailwind-neutral-50: hsl(0, 0%, 98%);
	--color-tailwind-neutral-100: hsl(0, 0%, 96.1%);
	--color-tailwind-neutral-200: hsl(0, 0%, 89.8%);
	--color-tailwind-neutral-300: hsl(0, 0%, 83.1%);
	--color-tailwind-neutral-400: hsl(0, 0%, 63.9%);
	--color-tailwind-neutral-500: hsl(0, 0%, 45.1%);
	--color-tailwind-neutral-600: hsl(0, 0%, 32.2%);
	--color-tailwind-neutral-700: hsl(0, 0%, 25.1%);
	--color-tailwind-neutral-800: hsl(0, 0%, 14.9%);
	--color-tailwind-neutral-900: hsl(0, 0%, 9%);
	--color-tailwind-stone-50: hsl(60, 9.1%, 97.8%);
	--color-tailwind-stone-100: hsl(60, 4.8%, 95.9%);
	--color-tailwind-stone-200: hsl(20, 5.9%, 90%);
	--color-tailwind-stone-300: hsl(24, 5.7%, 82.9%);
	--color-tailwind-stone-400: hsl(24, 5.4%, 63.9%);
	--color-tailwind-stone-500: hsl(25, 5.3%, 44.7%);
	--color-tailwind-stone-600: hsl(33, 5.5%, 32.4%);
	--color-tailwind-stone-700: hsl(30, 6.2%, 25.1%);
	--color-tailwind-stone-800: hsl(12, 6.5%, 15.1%);
	--color-tailwind-stone-900: hsl(24, 9.8%, 10%);
	--color-tailwind-red-50: hsl(0, 85.7%, 97.3%);
	--color-tailwind-red-100: hsl(0, 93.3%, 94.1%);
	--color-tailwind-red-200: hsl(0, 96.3%, 89.4%);
	--color-tailwind-red-300: hsl(0, 93.5%, 81.8%);
	--color-tailwind-red-400: hsl(0, 90.6%, 70.8%);
	--color-tailwind-red-500: hsl(0, 84.2%, 60.2%);
	--color-tailwind-red-600: hsl(0, 72.2%, 50.6%);
	--color-tailwind-red-700: hsl(0, 73.7%, 41.8%);
	--color-tailwind-red-800: hsl(0, 70%, 35.3%);
	--color-tailwind-red-900: hsl(0, 62.8%, 30.6%);
	--color-tailwind-orange-50: hsl(33, 100%, 96.5%);
	--color-tailwind-orange-100: hsl(34, 100%, 91.8%);
	--color-tailwind-orange-200: hsl(32, 97.7%, 83.1%);
	--color-tailwind-orange-300: hsl(31, 97.2%, 72.4%);
	--color-tailwind-orange-400: hsl(27, 96%, 61%);
	--color-tailwind-orange-500: hsl(25, 95%, 53.1%);
	--color-tailwind-orange-600: hsl(21, 90.2%, 48.2%);
	--color-tailwind-orange-700: hsl(17, 88.3%, 40.4%);
	--color-tailwind-orange-800: hsl(15, 79.1%, 33.7%);
	--color-tailwind-orange-900: hsl(15, 74.6%, 27.8%);
	--color-tailwind-amber-50: hsl(48, 100%, 96.1%);
	--color-tailwind-amber-100: hsl(48, 96.5%, 88.8%);
	--color-tailwind-amber-200: hsl(48, 96.6%, 76.7%);
	--color-tailwind-amber-300: hsl(46, 96.7%, 64.5%);
	--color-tailwind-amber-400: hsl(43, 96.4%, 56.3%);
	--color-tailwind-amber-500: hsl(38, 92.1%, 50.2%);
	--color-tailwind-amber-600: hsl(32, 94.6%, 43.7%);
	--color-tailwind-amber-700: hsl(26, 90.5%, 37.1%);
	--color-tailwind-amber-800: hsl(23, 82.5%, 31.4%);
	--color-tailwind-amber-900: hsl(22, 77.8%, 26.5%);
	--color-tailwind-yellow-50: hsl(55, 91.7%, 95.3%);
	--color-tailwind-yellow-100: hsl(55, 96.7%, 88%);
	--color-tailwind-yellow-200: hsl(53, 98.3%, 76.9%);
	--color-tailwind-yellow-300: hsl(50, 97.8%, 63.5%);
	--color-tailwind-yellow-400: hsl(48, 95.8%, 53.1%);
	--color-tailwind-yellow-500: hsl(45, 93.4%, 47.5%);
	--color-tailwind-yellow-600: hsl(41, 96.1%, 40.4%);
	--color-tailwind-yellow-700: hsl(35, 91.7%, 32.9%);
	--color-tailwind-yellow-800: hsl(32, 81%, 28.8%);
	--color-tailwind-yellow-900: hsl(28, 72.5%, 25.7%);
	--color-tailwind-lime-50: hsl(78, 92%, 95.1%);
	--color-tailwind-lime-100: hsl(80, 89.1%, 89.2%);
	--color-tailwind-lime-200: hsl(81, 88.5%, 79.6%);
	--color-tailwind-lime-300: hsl(82, 84.5%, 67.1%);
	--color-tailwind-lime-400: hsl(83, 78%, 55.5%);
	--color-tailwind-lime-500: hsl(84, 80.5%, 44.3%);
	--color-tailwind-lime-600: hsl(85, 85.2%, 34.5%);
	--color-tailwind-lime-700: hsl(86, 78.4%, 27.3%);
	--color-tailwind-lime-800: hsl(86, 69%, 22.7%);
	--color-tailwind-lime-900: hsl(88, 61.2%, 20.2%);
	--color-tailwind-green-50: hsl(138, 76.5%, 96.7%);
	--color-tailwind-green-100: hsl(141, 84.2%, 92.5%);
	--color-tailwind-green-200: hsl(141, 78.9%, 85.1%);
	--color-tailwind-green-300: hsl(142, 76.6%, 73.1%);
	--color-tailwind-green-400: hsl(142, 69.2%, 58%);
	--color-tailwind-green-500: hsl(142, 70.6%, 45.3%);
	--color-tailwind-green-600: hsl(142, 76.2%, 36.3%);
	--color-tailwind-green-700: hsl(142, 71.8%, 29.2%);
	--color-tailwind-green-800: hsl(143, 64.2%, 24.1%);
	--color-tailwind-green-900: hsl(144, 61.2%, 20.2%);
	--color-tailwind-emerald-50: hsl(152, 81%, 95.9%);
	--color-tailwind-emerald-100: hsl(149, 80.4%, 90%);
	--color-tailwind-emerald-200: hsl(152, 76%, 80.4%);
	--color-tailwind-emerald-300: hsl(156, 71.6%, 66.9%);
	--color-tailwind-emerald-400: hsl(158, 64.4%, 51.6%);
	--color-tailwind-emerald-500: hsl(160, 84.1%, 39.4%);
	--color-tailwind-emerald-600: hsl(161, 93.5%, 30.4%);
	--color-tailwind-emerald-700: hsl(163, 93.5%, 24.3%);
	--color-tailwind-emerald-800: hsl(163, 88.1%, 19.8%);
	--color-tailwind-emerald-900: hsl(164, 85.7%, 16.5%);
	--color-tailwind-teal-50: hsl(166, 76.5%, 96.7%);
	--color-tailwind-teal-100: hsl(167, 85.5%, 89.2%);
	--color-tailwind-teal-200: hsl(168, 83.8%, 78.2%);
	--color-tailwind-teal-300: hsl(171, 76.9%, 64.3%);
	--color-tailwind-teal-400: hsl(172, 66%, 50.4%);
	--color-tailwind-teal-500: hsl(173, 80.4%, 40%);
	--color-tailwind-teal-600: hsl(175, 83.9%, 31.6%);
	--color-tailwind-teal-700: hsl(175, 77.4%, 26.1%);
	--color-tailwind-teal-800: hsl(176, 69.4%, 21.8%);
	--color-tailwind-teal-900: hsl(176, 60.8%, 19%);
	--color-tailwind-cyan-50: hsl(183, 100%, 96.3%);
	--color-tailwind-cyan-100: hsl(185, 95.9%, 90.4%);
	--color-tailwind-cyan-200: hsl(186, 93.5%, 81.8%);
	--color-tailwind-cyan-300: hsl(187, 92.4%, 69%);
	--color-tailwind-cyan-400: hsl(188, 85.7%, 53.3%);
	--color-tailwind-cyan-500: hsl(189, 94.5%, 42.7%);
	--color-tailwind-cyan-600: hsl(192, 91.4%, 36.5%);
	--color-tailwind-cyan-700: hsl(193, 82.3%, 31%);
	--color-tailwind-cyan-800: hsl(194, 69.6%, 27.1%);
	--color-tailwind-cyan-900: hsl(196, 63.6%, 23.7%);
	--color-tailwind-sky-50: hsl(204, 100%, 97.1%);
	--color-tailwind-sky-100: hsl(204, 93.8%, 93.7%);
	--color-tailwind-sky-200: hsl(201, 94.4%, 86.1%);
	--color-tailwind-sky-300: hsl(199, 95.5%, 73.9%);
	--color-tailwind-sky-400: hsl(198, 93.2%, 59.6%);
	--color-tailwind-sky-500: hsl(199, 88.7%, 48.4%);
	--color-tailwind-sky-600: hsl(200, 98%, 39.4%);
	--color-tailwind-sky-700: hsl(201, 96.3%, 32.2%);
	--color-tailwind-sky-800: hsl(201, 90%, 27.5%);
	--color-tailwind-sky-900: hsl(202, 80.3%, 23.9%);
	--color-tailwind-blue-50: hsl(214, 100%, 96.9%);
	--color-tailwind-blue-100: hsl(214, 94.6%, 92.7%);
	--color-tailwind-blue-200: hsl(213, 96.9%, 87.3%);
	--color-tailwind-blue-300: hsl(212, 96.4%, 78.4%);
	--color-tailwind-blue-400: hsl(213, 93.9%, 67.8%);
	--color-tailwind-blue-500: hsl(217, 91.2%, 59.8%);
	--color-tailwind-blue-600: hsl(221, 83.2%, 53.3%);
	--color-tailwind-blue-700: hsl(224, 76.3%, 48%);
	--color-tailwind-blue-800: hsl(226, 70.7%, 40.2%);
	--color-tailwind-blue-900: hsl(224, 64.3%, 32.9%);
	--color-tailwind-indigo-50: hsl(226, 100%, 96.7%);
	--color-tailwind-indigo-100: hsl(226, 100%, 93.9%);
	--color-tailwind-indigo-200: hsl(228, 96.5%, 88.8%);
	--color-tailwind-indigo-300: hsl(230, 93.5%, 81.8%);
	--color-tailwind-indigo-400: hsl(234, 89.5%, 73.9%);
	--color-tailwind-indigo-500: hsl(239, 83.5%, 66.7%);
	--color-tailwind-indigo-600: hsl(243, 75.4%, 58.6%);
	--color-tailwind-indigo-700: hsl(245, 57.9%, 50.6%);
	--color-tailwind-indigo-800: hsl(244, 54.5%, 41.4%);
	--color-tailwind-indigo-900: hsl(242, 47.4%, 34.3%);
	--color-tailwind-violet-50: hsl(250, 100%, 97.6%);
	--color-tailwind-violet-100: hsl(251, 91.3%, 95.5%);
	--color-tailwind-violet-200: hsl(251, 95.2%, 91.8%);
	--color-tailwind-violet-300: hsl(252, 94.7%, 85.1%);
	--color-tailwind-violet-400: hsl(255, 91.7%, 76.3%);
	--color-tailwind-violet-500: hsl(258, 89.5%, 66.3%);
	--color-tailwind-violet-600: hsl(262, 83.3%, 57.8%);
	--color-tailwind-violet-700: hsl(263, 70%, 50.4%);
	--color-tailwind-violet-800: hsl(263, 69.3%, 42.2%);
	--color-tailwind-violet-900: hsl(264, 67.4%, 34.9%);
	--color-tailwind-purple-50: hsl(270, 100%, 98%);
	--color-tailwind-purple-100: hsl(269, 100%, 95.5%);
	--color-tailwind-purple-200: hsl(269, 100%, 91.8%);
	--color-tailwind-purple-300: hsl(269, 97.4%, 85.1%);
	--color-tailwind-purple-400: hsl(270, 95.2%, 75.3%);
	--color-tailwind-purple-500: hsl(271, 91%, 65.1%);
	--color-tailwind-purple-600: hsl(271, 81.3%, 55.9%);
	--color-tailwind-purple-700: hsl(272, 71.7%, 47.1%);
	--color-tailwind-purple-800: hsl(273, 67.2%, 39.4%);
	--color-tailwind-purple-900: hsl(274, 65.6%, 32%);
	--color-tailwind-fuchsia-50: hsl(289, 100%, 97.8%);
	--color-tailwind-fuchsia-100: hsl(287, 100%, 95.5%);
	--color-tailwind-fuchsia-200: hsl(288, 95.8%, 90.6%);
	--color-tailwind-fuchsia-300: hsl(291, 93.1%, 82.9%);
	--color-tailwind-fuchsia-400: hsl(292, 91.4%, 72.5%);
	--color-tailwind-fuchsia-500: hsl(292, 84.1%, 60.6%);
	--color-tailwind-fuchsia-600: hsl(293, 69.5%, 48.8%);
	--color-tailwind-fuchsia-700: hsl(295, 72.4%, 39.8%);
	--color-tailwind-fuchsia-800: hsl(295, 70.2%, 32.9%);
	--color-tailwind-fuchsia-900: hsl(297, 63.6%, 28%);
	--color-tailwind-pink-50: hsl(327, 73.3%, 97.1%);
	--color-tailwind-pink-100: hsl(326, 77.8%, 94.7%);
	--color-tailwind-pink-200: hsl(326, 84.6%, 89.8%);
	--color-tailwind-pink-300: hsl(327, 87.1%, 81.8%);
	--color-tailwind-pink-400: hsl(329, 85.5%, 70.2%);
	--color-tailwind-pink-500: hsl(330, 81.2%, 60.4%);
	--color-tailwind-pink-600: hsl(333, 71.4%, 50.6%);
	--color-tailwind-pink-700: hsl(335, 77.6%, 42%);
	--color-tailwind-pink-800: hsl(336, 74.4%, 35.3%);
	--color-tailwind-pink-900: hsl(336, 69%, 30.4%);
	--color-tailwind-rose-50: hsl(356, 100%, 97.3%);
	--color-tailwind-rose-100: hsl(356, 100%, 94.7%);
	--color-tailwind-rose-200: hsl(353, 96.1%, 90%);
	--color-tailwind-rose-300: hsl(353, 95.7%, 81.8%);
	--color-tailwind-rose-400: hsl(351, 94.5%, 71.4%);
	--color-tailwind-rose-500: hsl(350, 89.2%, 60.2%);
	--color-tailwind-rose-600: hsl(347, 77.2%, 49.8%);
	--color-tailwind-rose-700: hsl(345, 82.7%, 40.8%);
	--color-tailwind-rose-800: hsl(343, 79.7%, 34.7%);
	--color-tailwind-rose-900: hsl(342, 75.5%, 30.4%);
}

body {
	box-sizing: border-box;
	color: var(--color-tailwind-slate-500);
	overflow-x: hidden;
	--container-padding-x: calc(32 / 16 * 1rem);
	--container-padding-bottom: calc(32 / 16 * 1rem);
	line-height: 1.35;
}

* {
	box-sizing: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: inherit;
	margin: 0;
}

@media (min-width: 768px) {
	:root {
		font-size: 1.2vw;
	}
}

input {
	color: var(--color-tailwind-slate-600);
	display: block;
	width: 100%;
}

svg {
	display: block;
}

.container {
	padding: calc(40 / 16 * 1rem) var(--container-padding-x)
		var(--container-padding-bottom);
	min-height: 100vh;
	min-height: 100dvh;
}

@media (min-width: 768px) {
	body {
		--container-padding-x: calc(80 / 16 * 1rem);
		--container-padding-bottom: calc(50 / 16 * 1rem);
	}
}

.header {
	padding: calc(40 / 16 * 1rem);
	margin: 0 auto;
	max-width: calc(720 / 16 * 1rem);
	text-align: center;
}

a:focus-visible {
	text-decoration: underline;
}

.btn {
	color: var(--text-color);
	background: var(--bg-color);
	text-decoration: none;
	border: transparent;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.35em;
	padding: 0.7em 0.75em;
	border-radius: 0.35em;
	transition: 0.175s cubic-bezier(0.14, -0.02, 0.44, 1);
}

.btn > svg {
	width: 0.85em;
}

.btn:hover {
	background: var(--bg-hover-color);
}

.play-btn {
	border-radius: 50%;
	padding: 3.5em;
	width: 10em;
	height: 10em;
}

.play-btn > svg {
	transition: inherit;
	width: 100%;
}

.btn:disabled {
	cursor: default;
	--text-color: var(--color-tailwind-slate-900);
	--bg-color: var(--color-tailwind-slate-200);
	--bg-hover-color: var(--color-tailwind-slate-300);
	--fg-color: var(--color-tailwind-slate-50);
}

.btn--underline {
	background: transparent;
	padding: 0;
	text-decoration: underline;
	text-decoration-color: var(--bg-hover-color);
}

.btn--underline:hover {
	background: transparent;
	text-decoration-color: var(--bg-color);
	filter: brightness(0.7);
}

body,
*[data-color='neutral'] {
	--text-color: var(--color-tailwind-slate-900);
	--bg-color: var(--color-tailwind-slate-200);
	--bg-hover-color: var(--color-tailwind-slate-300);
	--fg-color: var(--color-tailwind-slate-50);
}

*[data-color='emerald'] {
	--text-color: var(--color-tailwind-emerald-900);
	--bg-color: var(--color-tailwind-emerald-200);
	--bg-hover-color: var(--color-tailwind-emerald-300);
	--fg-color: var(--color-tailwind-emerald-50);
}

*[data-color='red'] {
	--text-color: var(--color-tailwind-red-900);
	--bg-color: var(--color-tailwind-red-200);
	--bg-hover-color: var(--color-tailwind-red-300);
	--fg-color: var(--color-tailwind-red-50);
}

*[data-color='orange'] {
	--text-color: var(--color-tailwind-orange-900);
	--bg-color: var(--color-tailwind-orange-200);
	--bg-hover-color: var(--color-tailwind-orange-300);
	--fg-color: var(--color-tailwind-orange-50);
}

*[data-color='violet'] {
	--text-color: var(--color-tailwind-violet-900);
	--bg-color: var(--color-tailwind-violet-200);
	--bg-hover-color: var(--color-tailwind-violet-300);
	--fg-color: var(--color-tailwind-violet-50);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.text-center {
	text-align: center;
}

.text-md {
	font-size: calc(36 / 16 * 1rem);
}

.text-sm {
	font-size: calc(28 / 16 * 1rem);
}

.text-xs {
	font-size: calc(22 / 16 * 1rem);
}

.text-lg {
	font-size: calc(64 / 16 * 1rem);
	color: var(--color-tailwind-slate-700);
}

.actions-footer {
	display: flex;
	align-items: center;
	gap: 1em;
}
